global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    tcp
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend main
    bind    *:{{ control_plane_endpoint_port_ha }}

    default_backend kubemasterservers

backend kubemasterservers
    balance roundrobin
{% for host in groups['kubernetes_master'] %}
    server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ansible_eth1.ipv4.address }}:{{ control_plane_endpoint_port }} check 
{% endfor %}
    
    #redirect scheme https code 301 if !{ ssl_fc }

    # HSTS (63072000 seconds)
    http-response set-header Strict-Transport-Security max-age=63072000

listen stats
    bind    *:{{ haproxy.monitor_port | default('9090') }}
    mode    http
    stats   enable
    stats   uri /
    stats auth {{ haproxy.admin_user }}:{{ haproxy.admin_password }}
    stats admin if TRUE
    stats show-node
