---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
certificateKey: "{{ kubeadm_certificate_key }}"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
{% if control_plane_multi_master|bool %} 
controlPlaneEndpoint: "{{ control_plane_endpoint_address }}:{{ control_plane_endpoint_port_ha }}"
{% endif %}
networking:
  podSubnet: "{{ flannel_network }}"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

{% if kubernetes_ipvs_enabled %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
ipvs:
  scheduler: {{ kubernetes_ipvs_scheduler }}
  strictARP: {{ kubernetes_ipvs_strict_arp }}
{% endif %}
